body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    /* box-sizing: border-box; */
    background-color:darksalmon;
}

a {
    text-decoration: none;
    color: black;
}


h1 {
    width: 100%;
    margin: 0;
    padding: 15px 0 15px 0;
    text-align: center;
    background-color:bisque;
    box-shadow: 0 3px 20px brown;
}

.title {
    margin-bottom: 0;
    padding: 20px;
}

img {
    height: 380px;
    width: 400px;
    border: 2px solid rgb(205, 119, 91);
    border-radius: 10px;
}

.recipe {
    
    margin: 1.5rem 1rem 1rem 1rem;
    background-color: bisque;
    height: 580px;
    width: 460px;
    text-align: center;
    box-shadow: 8px 4px 15px brown;
    border-radius: 10px;
}

.container {
    height: 100%;
    width: 100%;
}

.all_recipes {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-wrap: wrap;
}

 button {
    color: brown;
    font-weight: 600;
    font-size: 17px;
    background-color: darksalmon;
    padding: 15px 165px;
    border: 2px solid rgb(205, 119, 91);
    border-radius: 10px;
    cursor: pointer;
 }

button:hover {
    color: rgb(164, 61, 61);
    background-color: rgb(236, 159, 134);
}